body{
    background-color: rgb(250, 243, 235);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    background-color: rgb(249, 191, 121);
    color: rgb(77, 77, 77);
}
h2{
    color: rgb(45, 129, 246);
    font-style: italic;
}
h5{
    color: rgb(46, 46, 248);
}
h6{
    color: rgb(69, 118, 241);
    font-style: italic;
    font-size: medium;
}